* {
    box-sizing: border-box;
}

/* :root {
    font-family: 'Kalnia', serif;
} */

body {
    margin: 0;
    padding: 0;
    background-color: #89cff0;

}

.header {
    /* margin-bottom: 0; */
    padding: 5px 0;
    background-image: linear-gradient(to bottom right, #89cff0, #ffebcd, #dda0dd);
    border-bottom: 10px double black;
}
h1 {
    font-family: 'Kalnia', serif;
    font-size: 56px;
    color: black;
    border: 1px solid black;
    border-radius: 10%;
    background-image: linear-gradient(to bottom right, #89cff0, #ffebcd, #dda0dd);

}
.menu-heading {
    margin-top: 0;
    margin-bottom: 10px;
}
h2, h3 {
    margin: 15px;
    font-family: 'Kalnia', serif;
    font-size: 36px;
    color: black;
    border: 2px solid black;
    border-radius: 10%;
    background-image: linear-gradient(to bottom right, #89cff0, #ffebcd, #dda0dd);

}

.list-item-nav {
    padding: 5px;
    border: 2px solid black;
    border-radius: 10%;
    background-image: linear-gradient(to bottom right, #89cff0, #ffebcd, #dda0dd);
}

.nav-link-item {
    color: black;
    font-weight: 600;
    font-style: oblique;
    font-family: 'Kalnia', serif;
    text-decoration: none;
    text-shadow: 1px 1px 1px #89cff0;
}

.nav-link-item:hover {
    transform: scale(20);
}

.intro-text {
    color: black;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    font-family: sans-serif;
    width: 50%;
    border: 1px solid black;
    border-radius: 10%;
    /* background-image: linear-gradient(to bottom right, #89cff0, #ffebcd, #dda0dd); */
}

.main {
    padding: 40px 0;
}

.section {
    padding: 60px 0;
}

.checkout-section {
    margin: 30px 0;
}

.subtotal-div, .ticket-div {
    padding: 15px;
    background-color: blanchedalmond;
    border: 3px solid burlywood;
    border-radius: 5px;
}

#confirmBtn {
    background-color: seagreen;
    border: 1px solid black;
}

#receiptTable {
    width: 100%;
}

.cart-btn{
    background-color: plum;
    color: black;
    border: 3px double black;
}
.cart-btn:hover {
    background-color: green;
    color: #89cff0;
    border: 3px solid black;
}
.footer {
    padding: 10px 0;
}